@media screen and (max-width: 600px) {


    .about-container {
        // the 2 cols now will be 1 column
        grid-template-columns: 1fr;

        .right-about {
            // this subpart had 2 cols now will have 1 column
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }

        .left-about {
            padding-right: 0;

            p {
                padding-left: 0;
            }
        }
    }

    .timeline {
        // control-2 -> My Timeline: turn into 1 column
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }


    .potfolios {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .blogs {
        // turn 3 cols into 1 col
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .section {
        //get rid of all padding, widen the box
        padding: 2rem 2.5rem !important;
    }

    .font-title {
        h2 {
            font-size: 2rem;

            span {
                font-size: 5rem;
            }

            .bg-text {
                font-size: 3rem;
            }
        }
    }
}

@media screen and(max-width:1432px) {

    header {
        padding: 0 !important;
    }

    .section {
        // change in About Me
        padding: 7rem 11rem;
        padding-bottom: 1rem;
    }

    .contact-content-con {
        // change the rows into cols
        flex-direction: column;

        .right-contact {
            // snap all to the left (inside the cols)
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }

    .contact-contact-con .right-contact .i-c-2 {
        flex-direction: column;
    }

    // .i-ctrl-2 :last-child works
    // .i-ctrl-2:last-child won't work, because of the space
    .contact-contact-con .right-contact .i-c-2 :last-child {
        flex-direction: column;
        margin-left: 0;
        margin-top: 1.5rem;
    }
}

@media screen and(max-width:1070px) {
    .about-container {
        grid-template-columns: 1fr;

        .right-about {
            padding-top: 2.5rem;
        }
    }

    .portfolios {
        grid-template-columns: 1fr 1fr;
    }

    .blogs {
        grid-template-columns: 1fr 1fr;
    }

    .main-title {
        h2 {
            font-size: 4rem;

            span {
                font-size: 4rem;
            }

            .bg-text {
                font-size: 4.5rem;
            }
        }
    }
}

@media screen and (max-width: 970px) {
    .section {
        padding: 7rem 6rem;
    }

    header {
        padding: 0;
    }

    header .right-header {
        // padding: 2rem !important;
        padding: 0 !important;
    }

    .theme-btn {
        // cicle to change the theme
        width: 100px;
        height: 100px;
    }

    .header-content {
        // make just 1 col
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .left-header {
        .h-shape {
            // remove the green-pink trapeze below the img
            display: none;
        }
    }

    .right-header {
        // make it the first row
        grid-row: 1;
        width: 90%;
        margin: 0 auto;

        .name {
            font-size: 2.5rem !important;
        }
    }

    .header-content .left-header .image {
        margin: 0 auto;
        width: 50%;
        height: 90%;
    }

    .controls {
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50px; // place btns at the center
        transform: translateX(-50px);
        width: 100%;
        background-color: var(--color-grey-5);

        .control {
            margin: .6rem 1rem;
            // justify-content: center;
            // text-align: center;
            // align-items: center;
        }
    }
}

@media screen and (max-width: 700px) {
    .section {
        padding: 7rem 3rem;
    }

    .about-stats {
        .progress-bars {
            grid-template-columns: 1fr;
        }
    }

    .main-title {
        h2 {
            font-size: 3rem;

            span {
                font-size: 3rem;
            }

            .bg-text {
                font-size: 4rem;
            }
        }
    }

    .header-content .left-header .image {
        width: 90%;

        .img {
            width: 90%;
        }
    }
}